version: "3.8"

services:
  mariadb:
    image: mariadb:10.10.3
    restart: always
    environment:
      MYSQL_DATABASE: docker_maria
      MYSQL_ROOT_PASSWORD: pass
    volumes:
      - mariadb-data:/var/lib/mariadb
    ports:
      - 3306:3306

volumes:
  mariadb-data:

networks:
  dev:
    driver: bridge
# connection string mysql://root:pass@localhost:3306/databasename
# data grip connection string jdbc:mariadb://localhost:3306/databasename
